<div id="sticky-banner" tabindex="-1" class=" bg-gradient-to-r from-blue-100 to-blue-400 top-0 left-0 z-50 flex justify-between w-full p-4">
    <div class="flex items-center mx-auto">
        <p class="flex items-center text-sm font-normal text-white">

            <span class="font-bold">Save up to $500 per year on millions of book titles!</span>
        </p>
    </div>
</div>
